/perceptron/.ipynb_checkpoints/perceptron_theano-checkpoint.ipynb
/.ipynb_checkpoints/perceptron_theano-checkpoint.ipynb
.DS_Store
strava/activities.json/keras/convmnist/.ipynb_checkpoints/keras_cnn_mnist-checkpoint.ipynb
/keras/convmnist/.ipynb_checkpoints/keras_convda_mnist_repr_10-checkpoint.ipynb
/keras/convmnist/.ipynb_checkpoints/keras_cnn_mnist-checkpoint.ipynb
/keras/convmnist/.ipynb_checkpoints/Untitled-checkpoint.ipynb
/keras/convmnist/mnist_cnn_weights.hdf
/.ipynb_checkpoints/curse_dimensionality-checkpoint.ipynb
/misc_ml/.ipynb_checkpoints/curse_dimensionality-checkpoint.ipynb
.ipynb_checkpoints/
